{% extends "base.html" %} {% block content %}

<div class="main">
  <div class="cover">
      <img style="width:100%; height:50%" id="image" alt="RetinoConv cover" src="{{url_for('static', filename='img/Diabetic-Retina.jpg')}}">
  </div>
  <div class="title">
    <h3>Classificateur De Rétinopathie Diabétique</h3>
  </div>

  <div class="panel">
    <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" />
    <label for="file-upload" id="file-drag" class="upload-box">
      <div id="upload-caption">Déposer l'image ici ou                cliquer pour sélectionner</div>
      <img id="image-preview" class="hidden" />
    </label>
  </div>
  <div style="margin-bottom: 2rem;">
    <input type="button" value="Soumettre" class="button" onclick="submitImage();" />
    <input type="button" value="Effacer" class="button" onclick="clearImage();" />
  </div>

  <div id="image-box">
    <img id="image-display" />
    <div id="pred-result" class="hidden"></div>
    <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
  </div>
  <h2>Par : Benhabiles Adlane & Boudjema Mohamed Abdelwahab</h2>
</div>

{% endblock %}
